# Don't include these files and directories when exporting archives
*.gitattributes export-ignore
/docs export-ignore
/migrations export-ignore
/spec export-ignore
kahlan-config.php export-ignore
.travis.db.yml export-ignore
.travis.yml export-ignore
conveyor.yml export-ignore