/*.toc a[href^="http://"]::after,
.toc a[href^="https://"]::after,
.toc a[href^="//"]::after{
	font-family: Icon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: "\e89e"
}*/

img{
	display: block;
	margin: 0 auto;
}